.profile {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 17% 38% 45%;
  margin-top: 4.13%;
  max-width: 880px;
}

@media screen and (max-width: 1050px) {
  .profile {
    grid-template-columns: 18% 38% 44%;
  }
}

@media screen and (max-width: 950px) {
  .profile {
    grid-template-columns: 19% 38% 43%;
  }
}

@media screen and (max-width: 920px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}