.profile__title {
  font-family: "Inter", serif, sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

@media screen and (max-width: 920px) {
  .profile__title {
    font-size: 47px;
    line-height: 52px;
  }
}

@media screen and (max-width: 660px) {
  .profile__title {
    font-size: 35px;
  }
}

@media screen and (max-width: 560px) {
  .profile__title {
    font-size: 27px;
    line-height: 32px;
  }
}